@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

* {
  box-sizing: border-box;
  list-style: none;
  font-family: $regular;
}
.app {
  // USE THIS FOR PROJECT DAY
  // background: #aa4b6b;
  // background: -webkit-linear-gradient(
  //   to bottom right,
  //   #3b8d99,
  //   #6b6b83,
  //   #aa4b6b
  // );
  // background: linear-gradient(to bottom right, #3b8d99, #6b6b83, #aa4b6b);

  background: #9796f0;
  background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);
  background: linear-gradient(to bottom right, #fbc7d4, #9796f0);
  min-height: 100vh;
  width: 100%;
}

.app__container {
  text-align: center;
  background-color: white;
  width: 500px;
  margin: 0 auto;
  border-radius: 20px;
  min-height: 700px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 40px;
}

.navbar__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

button {
  color: white;
  background-color: #9796f0;
  border: none;
  margin-top: 12px;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 1.1rem;
  &:hover {
    cursor: pointer;
    background-color: #fbc7d4;
    opacity: 90%;
  }
}
