// // Font Variables
$regular: "Montserrat Regular";
$light: "Montserrat Light";
$medium: "Montserrat Medium";
$bold: "Montserrat Bold";

// Fonts
@font-face {
  font-family: "Montserrat Regular";
  src: url("../../assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Light";
  src: url("../../assets/fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("../../assets/fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
}
