// // Font Variables
$regular: "Montserrat Regular";
$light: "Montserrat Light";
$medium: "Montserrat Medium";

// // Primary Colors
// $black: #323232;
// $blue: #0095ff;
// $silver: #afafaf;
// $white: #ffffff;

// // Secondary Colors
// $darkblack: #000000;
// $darkblue: #0065ad;
// $mercury: #e1e1e1;
// $alabaster: #fafafa;

// Fonts
@font-face {
  font-family: "Montserrat Regular";
  src: url("../../assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Light";
  src: url("../../assets/fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("../../assets/fonts/Montserrat/Montserrat-Medium.ttf");
}
