@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.home {
  height: 100%;
  width: 100%;
  &:hover {
    opacity: 70%;
  }
}

a {
  text-decoration: none;
  color: #8e5ea3;
  font-family: $bold;
}
