@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.swipe {
  position: absolute;
}

.cardContainer {
  margin: 0 auto;
  height: 550px;
}

.card {
  position: relative;
  margin: 0 auto;
  width: 420px;
  height: 450px;
  overflow: hidden;
  text-align: center;
  background-color: #fce0e7;
  border-radius: 20px;
  &:hover {
    cursor: pointer;
  }
}

.swipenow__photo {
  min-height: 320px;
  max-height: 320px;
  width: 100%;
  overflow: hidden;
}
